html{
  color: -internal-root-color;
}
body {
      font-family: "AUTHENTICSans", "AUTHENTICSans-Regular", "Arial", sans-serif;
      font-size: 36pt;
      line-height: 1.1em;
      display:block;
}

h1{
      text-transform: uppercase;
      font-weight:normal;
      line-height:1em;
      max-width: 800pt;
      text-align: center;
}

p1{
  font-weight:normal;
  line-height:1em;
}
ol{
  padding-left:50px;
  max-width: 85%;
  margin: 0 auto;
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
